html, body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: grey;
}

#sidebarBtn, #closeBtn {
	display: none;
}

.container {
	height: 100%;
	position: relative;
}

button {
	height: 40px;
	width: 300px;
	margin: 1em;
	display: flex;
	font-size: 16px;
	font-weight: bold;
	background-color: #4286f4;
}

input {
	height: 30px;
	width: 300px;
	margin: 1em;
}

li {
	list-style-type: none;
	padding: 10px;
}

#map {
    bottom:0;
    height: 100%;
    left: 350px;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 450px) {
	#sidebar {
		height: 100%;
		width: 0;
		position: fixed;
		top: 0;
		left: 0;
		overflow-x: hidden;
		padding-top: 60px;
		transition: 0.5s;
	}

	#sidebarBtn {
		display: inline;
	}

	.btnLine {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
	}

	#closeBtn {
		font-size: 40px;
		color: white;
		text-decoration: none;
	}

	button {
		height: 80px;
		width: 300px;
		margin: 1em;
		display: flex;
		font-size: 28px;
		font-weight: bold;
		background-color: #4286f4;
	}

	input {
		height: 60px;
		width: 300px;
		margin: 1em;
		font-size: 24px;
	}

	li {
		list-style-type: none;
		padding: 10px;
		font-size: 24px;
	}

	.infoWindow {
		font-size: 20px;
	}

	#map {
	    bottom:0;
	    height: 95%;
	    left: 0;
	    position: absolute;
	    right: 0;
	}
}

@media screen and (max-width: 850px) {
	button {
		height: 50px;
		width: 300px;
		margin: 1em;
		display: flex;
		font-size: 22px;
		font-weight: bold;
		background-color: #4286f4;
	}

	input {
		height: 45px;
		width: 300px;
		margin: 1em;
		font-size: 20px;
	}

	li {
		list-style-type: none;
		padding: 10px;
		font-size: 16px;
	}

	.infoWindow {
		font-size: 16px;
	}
}